.presentation {
    .security {
        display: flex;
        gap: 10px;
        align-items: center;
        background: #d9f6ff;
        width: 313px;
        padding: 7px;
        border-radius: 25px;
    }
    .title {
        margin-top: 30px;
        h1 {
            // font-size: 60px;
            // font-weight: 700;
            span {
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text; /* fallback */
            }
        }
        .labels {
            font-size: 20px;
        }
    }
}
